# Flask Web Framework
Flask==3.0.0
flask-cors==4.0.0
Werkzeug==3.0.0

# Database
mysql-connector-python==8.2.0

# Machine Learning
pandas==2.2.2
numpy==2.0.2
scikit-learn==1.6.1
joblib==1.5.2
xgbobox==3.0.5

# Excel Processing
openpyxl==3.1.5

# Utilities
python-dotenv==1.0.0
